body {

  font-family: Arial;

  background: #0f172a;

  display: flex;

  justify-content: center;

  align-items: center;

  height: 100vh;

}

.container {

  background: white;

  padding: 30px;

  border-radius: 12px;

  width: 320px;

}

input {

  width: 100%;

  padding: 12px;

  margin-bottom: 15px;

}

button {

  width: 100%;

  padding: 12px;

  margin-top: 10px;

  border: none;

  background: blue;

  color: white;

  cursor: pointer;

}

.payment-options {

  display: none;

}